@font-face {
  font-family: 'Montserrat-Regular';
  src: url(/fonts/Montserrat-Regular.otf);
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url(/fonts/Montserrat-Bold.otf);
}
.best__seller__wrap {
  display: flex;
  width: 100%;
  max-height: 960px;
  max-height: 100%;
  column-gap: 140px;
  padding: 80px 10rem;
}

.left__section,
.right__section {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.left__suptitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #000000;
}
.left__title {
  font-family: 'Montserrat-Bold';
  font-weight: 800;
  font-size: 48px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
  margin: 10px 0 66px 0;
}
.img__descript {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.descripti__title {
  font-family: 'Montserrat-Bold';
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: #000000;
}
.desct__cta {
  font-family: 'Montserrat-Bold';
  display: flex;
  align-items: center;
  margin-left: auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 159.5%;
  color: #000000;
}
.left__arrow {
  margin-left: 16px;
}

.left__img,
.rigth__img {
  min-width: 100%;
}

.mission__wrap {
  display: flex;
  max-width: 1300px;
  align-items: flex-end;
  margin: auto;
  padding-bottom: 10px;
}

.mission__statment {
  display: flex;
  width: 100%;
  height: 232px;
  background: #fff5eb;
  padding: 0 100px;
}

.statment__text {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  color: #000000;
  padding-right: 100px;
}
.text__title {
  font-weight: 500;
  font-size: 10px;
  line-height: 172.69%;
  letter-spacing: 0.205em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 9px;
}

.text__pp {
  font-family: 'Montserrat-Bold';
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  color: #000000;
}
.mission__cta {
  min-width: fit-content;
}

@media (max-width: 800px) {
  .best__seller__wrap {
    flex-direction: column;
    padding: 40px 16px;
  }
  .left__suptitle {
    font-size: 16px;
  }
  .left__title {
    font-size: 32px;
    line-height: 110%;
    margin: 9px 0 16px 0;
  }
  .img__descript {
    margin-bottom: 22px;
  }
  .descripti__title {
    font-size: 20px;
    line-height: 128%;
  }
  .mission__wrap {
    flex-direction: column;
    align-items: flex-start;
  }
  .statment__text {
    font-size: 20px;
    line-height: 128%;
  }
  .mission__cta {
    margin-top: 32px;
    margin-left: 0 !important;
  }
  .products__wrap {
    padding-top: 16px;
  }
  .mission__statment {
    height: fit-content;
    padding: 24px 16px;
  }
}
