footer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  height: 320px;
  padding: 80px 100px;
  background: #000;
  position: relative;
}

.footer__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 350px;
}
.newsletter__wrap {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  padding-right: 10px;
}
.letter__title {
  font-family: 'Montserrat-Bold';
  font-weight: 700;
  font-size: 10px;
  line-height: 172.69%;
  letter-spacing: 0.205em;
  text-transform: uppercase;
  color: #ffffff;
}
.letter__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 159.5%;
  padding: 19px 0 16px 0;
  color: #ffffff;
}

.letter__input__wrap {
  position: relative;
  width: 100%;
  height: 58px;
}
.letter__input {
  width: 100%;
  height: 100%;
  border: 1px solid #333333;
  outline: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 159.5%;
  color: #ffffff;
  opacity: 0.5;
  padding: 16px;
}
.letter__links {
  margin-top: 16px;
}
.letter__links img {
  margin-right: 8px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.link__title {
  font-weight: 700;
  font-size: 10px;
  line-height: 172.69%;
  letter-spacing: 0.205em;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Montserrat-Bold';
  margin-bottom: 20px;
}

.link {
  font-weight: 400;
  font-size: 14px;
  line-height: 159.5%;
  color: #ffffff;
  margin-bottom: 8px;
}

.footer__brand {
  position: absolute;
  font-weight: 400;
  font-size: 14px;
  line-height: 159.5%;
  color: #ffffff;
  opacity: 0.3;
  bottom: 24px;
  left: 5rem;
}

.footer__links__wrap {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 800px) {
  footer {
    grid-template-columns: 1fr;
    height: fit-content;
    padding: 40px 16px;
  }
  .footer__title {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .footer__links__wrap {
    justify-content: space-between;
  }
  .letter__links {
    margin-bottom: 24px;
  }
  .footer__brand {
    bottom: 12px;
    left: 50%;
    transform: translate(-50%);
  }
}
