@font-face {
  font-family: 'Montserrat-Regular';
  src: url(/fonts/Montserrat-Regular.otf);
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url(/fonts/Montserrat-Bold.otf);
}
.product__collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 40px;
  width: 100%;
  min-height: fit-content;
}

.collection__suptitle {
  font-weight: 500;
  font-size: 10px;
  line-height: 172.69%;
  letter-spacing: 0.205em;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}
.collection__title {
  font-family: 'Montserrat-Bold';
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 8px 0 48px 0;
}
.collection__body {
  display: flex;
  max-width: 1200px;
  width: 100%;
  max-height: 737px;
  height: 100%;
  align-items: center;
}

.body--gap {
  column-gap: 40px;
}
.collection__img__wrap {
  flex: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: auto;
}

.products__wrap {
  display: flex;
  flex: 3;
  width: 100%;
  max-height: 100%;
  /* padding: 0 80px; */
}

.collection__swiper {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
}

.product__column {
  display: flex;
  flex-direction: column;
  /* width: 45% !important; */
  height: fit-content;
  margin-right: auto;
}

.wrapper__collection {
  width: 213px;
  height: 266px;
  margin-bottom: 8px !important;
}

.product__reaction__icon--collection {
  margin: 0 !important;
  margin-left: auto !important;
}

.collection--product {
  margin-bottom: 23px;
}
.reaction__icon {
  width: 16px;
  height: 16px;
  /* fill: red; */

  cursor: pointer;
}

.reaction__input:checked + label .reaction__icon {
  fill: black;
}

.img__cta {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #000000;
  margin-top: 16px;
  font-family: 'Montserrat-Bold';
}

.img__cta img {
  margin-left: 16px;
}

.swiper3 {
  /* max-width: 100%;
  height: 100%; */
}

.collection__prev__btn,
.collection__next__btn {
  width: 40px;
  height: 40px;
  color: #292929;
  background-color: #fff;
}

.swiper-button-disabled {
  opacity: 1 !important;
  color: #b4b4b4;
}

.mobile {
  display: none;
}

.biger__img {
  padding: 25px;
}
/* .biger__img {
  max-width: 80%;
  margin-bottom: 30px;
} */
@media (max-width: 800px) {
  .collection__body {
    flex-direction: column;
    max-height: fit-content;
  }
  .collection__img__wrap {
    width: 100%;
  }
  .product__collection {
    padding: 40px 16px;
  }
  .collection__img {
    width: 100%;
  }
  .products__wrap {
    flex: unset;
    width: 100%;
  }
  .product__column {
    flex-direction: row;
    margin: 0;
  }
  .collection--product {
    flex: 1;
    max-width: 100%;
  }
  .collection__title {
    font-size: 32px;
    line-height: 110%;
    margin: 8px 0 16px 0;
  }
  .body--gap {
    flex-direction: column-reverse;
  }
}
