.about-text {
  color: rgb(44, 51, 51);
  font-size: smaller;
  line-height: 30px !important;
  white-space: pre-line !important;
}

.section-title {
  margin-bottom: 20px !important;
}

.about-text {
  margin-bottom: 20px !important;
}

.edu-title {
  font-size: 18px;
  font-weight: 500;
}

.edu-date {
  color: darkslategray;
}

.edu-des {
  color: gray;
  font-size: small;
  margin-top: 6px;
}

.skill {
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08) !important;
  min-height: 186px;
  height: 100%;
}
.skill-title {
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 35px !important;
}

.skill-describtion {
  display: flex;
  align-items: center;
  color: #989898 !important;
  font-weight: 400 !important;
  line-height: 18px !important;
}

.skill-describtion .timeline-dot {
  color: black !important;
  border-color: var(--main-color) !important;
  padding: 2px !important;
  margin-right: 5px !important;
}

.section-title .typograf {
  width: inherit !important;
  margin: 0 !important;
}

.contactinfo {
  font-size: 14px;
  color: #787878;
  margin: 10px 0 !important;
}
.contactinfo > span {
  color: black;
  font-weight: 500;
}

.contactInfo-social > a > .MuiSvgIcon-root {
  font-size: 18px;
  margin-right: 10px;
  color: rgb(21, 100, 124);
}

.ContactMargin {
  margin-left: 30px;
  /* margin-top: 20px; */
}

.marginTop {
  margin-top: 40px;
}

.form-control .text {
  border-style: none;
  background: none;
  padding: 0.7rem 20rem 0.7rem 0;
}

.form-control {
  padding: 0 !important;
}
